<p id="notice"><%= notice %></p>

<p>
  <strong>Astrofoto:</strong>
  <%= @tipo_contenido.astrofoto %>
</p>

<p>
  <strong>Metematica:</strong>
  <%= @tipo_contenido.metematica %>
</p>

<p>
  <strong>Otro1:</strong>
  <%= @tipo_contenido.otro1 %>
</p>

<p>
  <strong>Otro2:</strong>
  <%= @tipo_contenido.otro2 %>
</p>

<p>
  <strong>Otrotxt:</strong>
  <%= @tipo_contenido.otrotxt %>
</p>

<%= link_to 'Edit', edit_tipo_contenido_path(@tipo_contenido) %> |
<%= link_to 'Back', tipo_contenidos_path %>
